*{
    box-sizing: border-box;
}

body {
    background-color: rgba(252, 249, 70, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.container {
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
}

.form {
    border-radius: 30px;
    border: 2px solid black;
    max-width: 400px;
    margin: auto;
    margin-top: 0px;
    padding: 30px 100px;
    background-color: rgba(106, 245, 26, 0.397);
}

